{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/services.css')}}">
{% endblock %}

{% block body %}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Available services
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item" id="sub-currency">Currency Tracker</li>
        <li class="dropdown-item" id="sub-market">Market Index Tracker</li>
        <li class="dropdown-item" id="sub-performance">Performance Forecaster</li>
    </div>
</div>
<div class="card-container">
    <div class="card" id="currency-tracker">
        <h3>Currency Tracker</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Currency</th>
                    <th scope="col">Current Value</th>
                    <th scope="col">Change</th>
                </tr>
            </thead>
            <tbody>
                {% for currency, values in curr_tracker.items() %}
                <tr>
                    <th scope="row">{{ currency }}</th>
                    <th>{{ "%.4f" | format(values[0]) }}</th>
                    <th>{{ "%.4f" | format(values[1]) }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary" type="button" id="unsubscribe-1" onclick="this.parentNode.style.display = 'none';">
            Unsubscribe
        </button>
    </div>
    <div class="card" id="market-tracker">
        <h3>Market Index Tracker</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Market</th>
                    <th scope="col">Current Value</th>
                    <th scope="col">Change</th>
                </tr>
            </thead>
            <tbody>
                {% for market, values in mark_inx_trkr.items() %}
                    {% if values[0] %}
                    <tr>
                        <th scope="row">{{ market }}</th>
                        <th>{{ "%.4f" | format(values[0]) }}</th>
                        <th>{{ "%.4f" | format(values[1]) }}</th>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary" type="button" id="unsubscribe-2" onclick="this.parentNode.style.display = 'none';">
            Unsubscribe
        </button>
    </div>
    <div class="card" id="perf-forecast">
        <h3>Performance Forecaster</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Forecasted Open</th>
                    <th scope="col">Forecasted Close</th>
                </tr>
            </thead>
            <tbody>
                {% for ticker, values in perf_forecast.items() %}
                    {% if values[0] %}
                    <tr>
                        <th scope="row">{{ ticker }}</th>
                        <th>{{ "%.4f" | format(values[0]) }}</th>
                        <th>{{ "%.4f" | format(values[1]) }}</th>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary" type="button" id="unsubscribe-3" onclick="this.parentNode.style.display = 'none';">
            Unsubscribe
        </button>
    </div>
</div>
<!-- <script src="{{ url_for('static', filename='javascript/services.js') }}" -->
{% endblock %}